body {
	/* background: rgba(0, 0, 0, 0.4); */
	background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.3AIVjqDxjWDUtLXgjJYrgQHaF-%26pid%3DApi&f=1) no-repeat;
	background-size: cover;
	
}

.whole {
	border: 2px;
	padding: 50px;
	margin: 27px;
	background: rgba(255, 255, 255, 0.3);
}

.whole p {
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.whole h1 {
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.whole form {
	text-align: center;
}

#username {
	position: relative;
	text-align: right;
}