 {% extends "registration.html"%} {%block title%}login{%endblock%}{%block heading%}LOG IN!{%endblock%} {%block body%}

<div>
    <form action="{{url_for('login')}}" method="POST">
        <hr>
        <h3>{{message}}</h3>
        <label class="naming" for="name">Full Name: </label>
        <input type="text" name="name" placeholder="full name"><br>
        <hr>
        <label class="naming" for="password">Enter Password: </label>
        <input type="password" name="password" placeholder="password"><br>
        <hr>
        <button>LOG IN</button>
        <hr>
    </form>

</div>
{%endblock%}