<!-- <!DOCTYPE html>
<html>

<head>
    <title>
        success
    </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: url(https://i.pinimg.com/originals/b1/5f/02/b15f027eddff3f7c88be59a5e724a3a4.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
            font-weight: 1000;
        }
    </style>
</head>

<body>.,mnmbnb
0    <h1>Welcome to the website...{{message}}</h1>
    {% for a in fields%} {{a}} {% endfor%}
    <button><a href="/">LOG OUT</a></button>
</body>

</html> -->
{%extends "home.html"%} {%block logout%}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('form').onsubmit = () => {
            const request = new XMLHttpRequest();
            const search = document.getElementById('search').value;

            request.open('POST', '/api/search');

            request.onload = () => {
                const data = JSON.parse(request.responseText);

                 if (data.success) {
                    alert("hello chetika")
                    if (data.result.length > 0) {
                        alert(data.result["title"])
                        var matter = "";
                        data.result.forEach(result_happy  => {
                            matter += "<li> <a href = '/bookpage/" + result_happy["ISBN"] + "'>" + result_happy["title"] + "</li>"
                            // matter += "<tr> <td> <a href='/book?isbn=" + result["ISBN"] + "'>" + result["ISBN"] + "</a> </td> <td>" + result["title"] + "</td> </tr>";
                        });
                        document.getElementById("body_results").innerHTML = matter
                    }
                }
            }
            // const data = new FormData();
            // data.append('review', review);
            // data.append('rating', rating)
            request.send(JSON.stringify({ "search": search }));
            return false;
        }
    });

</script>
<li><a href="/">LOG OUT</a></li> {%endblock%} {%block register%}
{%endblock%}
{%block login%}
{%endblock%}
{%block body%}
<h1 style="color: white">Welcome to the website...{{message}}</h1>
<div style="text-align: center;">

<form id = "form" method="POST">
    <hr>
    <input id = "search" type="text" name="searchword" placeholder="Search for the desired book by author or title or ISBN or year it released. " style="height: 30px; width: 550px; text-align: center;"><br>
    <hr>
    <button style="height: 24px; width: 80px;">Search!!</button>
    <hr>
</form>

<ul id = "body_results" style="text-align: center;">

</ul>


</div>
{% for k in fields%} {{a}} {% endfor%} {%endblock%}